@use '../colors' as *;

.tour-container {
	width: 100%;
	padding: 6.4rem 0 0 0;
}

.tour-section-header {
	position: relative;
	clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 0% 98%);
	height: 42vw;
}

.tour-header-content {
	position: absolute;
	top: 35%;
	left: 50%;
	bottom: 13vw;
	transform: translate(-50%, -50%);
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 2.8rem;
}

.tour-cover-img {
	object-fit: cover;
	height: 100%;
	width: 100%;
	-o-object-position: 50% 25%;
	object-position: 50% 25%;
	filter: brightness(90%);
	opacity: 0.9;
}

.tour-title {
	font-size: 6.4rem;
	line-height: 1.2;
	color: $primary-t4;
	text-transform: uppercase;
	font-weight: 400;
	text-align: center;
	width: 70%;
	span {
		padding: 0.4rem 1.2rem;
		-webkit-box-decoration-break: clone;
		box-decoration-break: clone;
		background-image: linear-gradient(
			rgba($color: $primary, $alpha: 1),
			rgba($color: $primary-s2, $alpha: 1)
		);
	}
}

.location-time-box {
	display: flex;
	align-items: center;
	gap: 3.6rem;
}

.tour-duration {
	display: flex;
	gap: 1rem;
	align-items: center;
	color: $gray-4;

	.clock-logo {
		font-size: 2.4rem;
	}

	span {
		font-size: 1.6rem;
	}
}

.tour-location {
	display: flex;
	align-items: center;
	gap: 1rem;
	color: $gray-4;

	.location-logo {
		font-size: 2.4rem;
	}

	span {
		font-size: 1.6rem;
	}
}

.tour-description-section {
	display: flex;
	margin-top: -9.6rem;
}

.tour-desciption-title {
	font-size: 2.4rem;
	text-transform: uppercase;
	font-weight: 500;
	margin-bottom: 3.2rem;
}

.tour-details {
	flex: 1;
	background-color: $gray-1;
	padding: 12.8rem 8vw;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 6.4rem;
}

.quick-fact {
	display: flex;
	align-items: center;
	gap: 1.2rem;
	margin-bottom: 1.2rem;

	&-icon {
		font-size: 2.4rem;
		line-height: 1.4;
		color: $primary-t1;
	}

	&-title {
		font-size: 1.6rem;
		line-height: 1.4;
		font-weight: 500;
	}

	&-data {
		margin-left: 1.2rem;
		font-size: 1.4rem;
		line-height: 1.2;
		font-weight: 300;
	}
}

.about-tour {
	flex: 1;
	padding: 12.8rem 8vw;
}

.about-tour-text {
	font-size: 1.6rem;
	line-height: 1.4;
}

.tour-guide-img {
	width: 3.6rem;
	border-radius: 50%;
	object-fit: cover;
}

.guide {
	display: flex;
	align-items: center;
	gap: 1.2rem;
	margin-bottom: 1.2rem;

	&-role {
		font-size: 1.6rem;
		line-height: 1.4;
		font-weight: 500;
		text-transform: uppercase;
	}

	&-name {
		margin-left: 1.2rem;
		font-size: 1.4rem;
		line-height: 1.2;
		font-weight: 300;
	}
}

.tour-images-section {
	margin-top: -8vw;
	display: flex;
	clip-path: polygon(0% 100%, 100% 70%, 100% 0%, 0% 30%);
	position: relative;
	z-index: 999;
}

.tour-img-box {
	&:first-child {
		margin-top: 6.4rem;
	}
}
.tour-img {
	// display: block;
	width: 100%;
	height: 110%;
	object-fit: cover;
}

.review-section {
	background-image: linear-gradient(
		to top right,
		rgba($color: $primary-t1, $alpha: 1),
		rgba($color: $primary-s3, $alpha: 1)
	);
	margin-top: -8vw;
	padding: 12.8rem 2.8rem;
	clip-path: polygon(0% 85%, 100% 70%, 100% 0%, 0% 0%);
}

.review-container {
	display: flex;
	gap: 3.6rem;
	overflow-x: scroll;
	padding: 2.8rem 0;
	margin: 6.4rem 0 14.4rem 0;
}

.book-tour-section {
	padding: 14.4rem 0 4.8rem 0;
	margin-top: -28rem;
	background-color: $gray-1;
}

.book-tour-card {
	box-shadow: 0 0 1rem 1rem rgba($color: $gray-4, $alpha: 0.1);
	position: relative;
	max-width: 105rem;
	padding: 4.8rem 0;
	padding-right: 3.6rem;
	margin: 4.8rem auto;
	border-radius: 2rem;
	overflow: hidden;
	background-color: white;
	display: flex;
	align-items: center;
}

.book-tour-img-box {
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	padding: 6.4rem 12.8rem;
}

.book-tour-img {
	width: 15rem;
	height: 15rem;
	border-radius: 50%;
	position: absolute;
	top: 50%;
	left: 0;
	&-1 {
		@extend .book-tour-img;
		z-index: 10;
		transform: translate(-25%, -50%);
	}
	&-2 {
		@extend .book-tour-img;
		transform: translate(0%, -50%) scale(0.98);
		z-index: 9;
	}
	&-3 {
		@extend .book-tour-img;
		transform: translate(25%, -50%) scale(0.95);
		z-index: 8;
	}
}

.book-tour-text {
	margin-top: 1.2rem;
	font-size: 1.8rem;
}

.book-tout-btn-box {
	margin-left: auto;
}

.book-tour-btn {
	border-radius: 999px;
	text-transform: uppercase;
	padding: 1.6rem 2.8rem;
}
