$primary: #2563eb;

//tints
$primary-t1: #5182ef;
$primary-t2: #7ca1f3;
$primary-t3: #a8c1f7;
$primary-t4: #d3e0fb;

//shades
$primary-s1: #1e4fbc;
$primary-s2: #163b8d;
$primary-s3: #0f285e;
$primary-s4: #07142f;

// gray
$gray-1: #f1f3f5;
$gray-2: #dee2e6;
$gray-3: #868e96;
$gray-4: #343a40;

// red
$red: #e03131;

$red-t4: #ffbaba;
