@use './general';
@use './components/header';
@use './components/home/hero';
@use './components/common/tourcard';
@use './components/home/populardestinations';
@use './components/home/featuredin';
@use './components/home/services';
@use './components/home/testimonials';
@use './components/common/reviewcard';
@use './components/home/features';
@use './components/home/subscribe';
@use './components/footer';
@use './components/alltours';
@use './components/common/loader';
@use './components/tourpage';

@use './colors' as *;

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	position: relative;
	color: $gray-4;
}

main {
	position: relative;
	min-height: 100vh;
}
