@use '../../colors' as *;

.tour-card {
	box-shadow: 0 1rem 1rem $gray-2;
	border-radius: 0.8rem;
	overflow: hidden;
	cursor: pointer;
	transition: all 0.3s;

	&:hover{
		box-shadow: 0 1rem 1rem $gray-3;
		transform: scale(1.01);
	}
}

.img-title-box {
	position: relative;
}

.tour-card-img {
	width: 100%;
	object-fit: cover;
	clip-path: polygon(0% 0%, 100% 0%, 100% 70%, 0% 90%);
}

.tour-cart-title {
	position: absolute;
	bottom: 10%;
	width: 50%;
	right: 2%;
	color: $gray-1;
	span {
		padding: 0.4rem 1.2rem;
		line-height: 1;
		background-image: linear-gradient($primary-s2, $primary-t1);
		-webkit-box-decoration-break: clone;
		box-decoration-break: clone;
	}
}

.tour-card-text-box {
	padding: 0.8rem 1.2rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.star {
	font-size: 2.4rem;
	&-filled {
		@extend .star;
		color: $primary-t1;
	}

	&-outlined {
		@extend .star;
		color: $gray-3;
	}
}

.tour-card-price-box{
	span{
		color: $gray-4;
		font-size: 1.8rem;
		font-weight: 700;
	}

	p{
		font-size: 1.4rem;
	}
}
