@use '../../colors' as *;

.tour-card {
	box-shadow: 0 1rem 1rem rgba($color: $gray-4, $alpha: 0.2);
	border-radius: 0.8rem;
	overflow: hidden;
	cursor: pointer;
	transition: all 0.3s;

	&:hover {
		box-shadow: 0.2rem 1rem 1rem rgba($color: $gray-4, $alpha: 0.3);
		transform: scale(1.01);
	}
}

.img-title-box {
	position: relative;
}

.tour-card-img {
	width: 100%;
	object-fit: cover;
	clip-path: polygon(0% 0%, 100% 0%, 100% 70%, 0% 90%);
}

.tour-cart-title {
	position: absolute;
	bottom: 10%;
	width: 50%;
	right: 2%;
	color: $gray-1;
	span {
		padding: 0.4rem 1.2rem;
		line-height: 1;
		background-color: $primary;
		-webkit-box-decoration-break: clone;
		box-decoration-break: clone;
	}
}

.tour-card-text-box {
	padding: 1.8rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.tour-card-price,
.tour-card-rating {
	font-size: 1.4rem;
	span {
		font-size: 1.6rem;
		color: $gray-4;
		font-weight: 700;
	}
}
